<div class="timeline-container">
  <div class="timeline">
    <div class="timeline-item">
      <div class="timeline-content">
        <h5>Masters in Computer Applications</h5>
        <p>IGNOU</p>
        <h6>Dec, 2024 - Present</h6>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content">
        <h5>B.Sc. in Electronics</h5>
        <p>Delhi University</p>
        <h6>2020 - 2023</h6>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content">
        <h5>Senior Secondary</h5>
        <p>SKV, Molarband</p>
        <h6>2018 - 2020</h6>
      </div>
    </div>
    <div class="timeline-item">
      <div class="timeline-content">
        <h5>High School</h5>
        <p>GGSSS, Molarband</p>
        <h6>2016 - 2018</h6>
      </div>
    </div>
  </div>
</div>
