<!-- In your component HTML file -->
<div class="intro-section py-5 my-10 text-center">
  <p class="intro-text lead fs-3">Hi, I'm</p>
  <h1 class="display-5 fw-bold">Jhalak Bhandari</h1>
  <p class="intro-text lead fs-3">
    with a passion for scalable web apps and clean UI.
  </p>
</div>

<div class="px-4">
  <!-- Divider -->

  <div>
    <app-work></app-work>
  </div>
  <hr class="my-4" />
  <!-- Divider -->
  <div>
    <h1 class="text-center py-4 section-title">Education</h1>

    <!-- <h1 class="text-center">Education</h1> -->
    <app-education></app-education>
  </div>
  <hr class="my-4" />
  <div>
    <app-testimonial-carousel></app-testimonial-carousel>
  </div>
  <div>
    <app-projects></app-projects>
  </div>
</div>
