<footer class="container py-5 border-top mt-5">
  <div class="row gy-4">
    <!-- Name + Copyright -->
    <div class="col-12 col-md-3 text-center text-md-start">
      <h5 class="fw-bold mb-0">Jhalak</h5>
      <h5 class="fw-bold">Bhandari</h5>
      <small class="text-body-secondary">© 2024</small>
    </div>

    <!-- Social Links -->
    <div class="col-6 col-md-2">
      <h6 class="fw-bold">Socials</h6>
      <ul class="list-unstyled">
        <li>
          <a
            class="link-secondary text-decoration-none"
            href="https://www.linkedin.com/in/jhalak-bhandari-3680961aa/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a
            class="link-secondary text-decoration-none"
            href="https://github.com/jhalakbhandari"
            target="_blank"
            >GitHub</a
          >
        </li>
      </ul>
    </div>

    <!-- Navigation Links -->
    <div class="col-6 col-md-2">
      <h6 class="fw-bold">Explore</h6>
      <ul class="list-unstyled">
        <li>
          <a class="link-secondary text-decoration-none" routerLink="/"
            >About</a
          >
        </li>
        <li>
          <a class="link-secondary text-decoration-none" routerLink="/work"
            >Work</a
          >
        </li>
        <li>
          <a
            class="link-secondary text-decoration-none"
            routerLink="/certificate"
            >Certificates</a
          >
        </li>
      </ul>
    </div>

    <!-- Contact Form -->
    <div class="col-12 col-md-5">
      <h6 class="fw-bold mb-3">Contact Me</h6>
      <form (ngSubmit)="sendEmail()" #contactForm="ngForm">
        <div class="mb-2">
          <input
            type="text"
            name="name"
            [(ngModel)]="formData.name"
            placeholder="Your Name"
            required
            class="form-control form-control-sm"
          />
        </div>
        <div class="mb-2">
          <input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            placeholder="Your Email"
            required
            class="form-control form-control-sm"
          />
        </div>
        <div class="mb-2">
          <textarea
            name="message"
            [(ngModel)]="formData.message"
            placeholder="Your Message"
            required
            class="form-control form-control-sm"
            rows="2"
          ></textarea>
        </div>
        <button
          type="submit"
          [disabled]="loading"
          class="btn btn-outline-secondary btn-sm w-100"
        >
          <span *ngIf="!loading">Send</span>
          <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
        </button>
      </form>
    </div>
  </div>
</footer>
