<footer class="container py-5 border-top mt-5">
  <div class="row">
    <div class="col-12 col-md">
      <h5 class="fw-bold">Jhalak</h5>
      <h5 class="fw-bold">Bhandari</h5>
      <small class="d-block mb-3 text-body-secondary">© 2024</small>
    </div>

    <div class="col-6 col-md">
      <h5>Socials</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a
            class="link-secondary text-decoration-none"
            href="https://www.linkedin.com/in/jhalak-bhandari-3680961aa/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
      </ul>
    </div>

    <div class="col-6 col-md">
      <h5>About</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="link-secondary text-decoration-none" routerLink="/"
            >About</a
          >
        </li>
        <li>
          <a class="link-secondary text-decoration-none" routerLink="/work"
            >Work</a
          >
        </li>
        <li>
          <a
            class="link-secondary text-decoration-none"
            routerLink="/certificate"
            >Certificates</a
          >
        </li>
      </ul>
    </div>
    <div class="col-12 col-md">
      <h5>Contact</h5>
      <!-- <ul class="list-unstyled text-small">
        <li>
          <a
            href="mailto:bhandari.jhalak2018@gmail.com"
            class="link-secondary text-decoration-none"
            >Email</a
          >
        </li>
      </ul> -->
      <form (ngSubmit)="sendEmail()" #contactForm="ngForm">
        <div class="mb-2">
          <input
            type="text"
            name="name"
            [(ngModel)]="formData.name"
            placeholder="Your Name"
            required
            class="form-control form-control-sm"
          />
        </div>
        <div class="mb-2">
          <input
            type="email"
            name="email"
            [(ngModel)]="formData.email"
            placeholder="Your Email"
            required
            class="form-control form-control-sm"
          />
        </div>
        <div class="mb-2">
          <textarea
            name="message"
            [(ngModel)]="formData.message"
            placeholder="Your Message"
            required
            class="form-control form-control-sm"
            rows="2"
          ></textarea>
        </div>
        <button
          type="submit"
          [disabled]="loading"
          class="btn btn-outline-secondary btn-sm w-100"
        >
          <span *ngIf="!loading">Send</span>
          <span *ngIf="loading" class="spinner"></span>
        </button>
      </form>
    </div>
  </div>
</footer>
