/* .experience-section {
  background-color: #f9f9f9;
}

.experience-card {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
  transition: transform 0.2s;
}

.experience-card:hover {
  transform: scale(1.01);
}

.job-list {
  list-style: disc;
  padding-left: 1rem;
  font-size: 0.95rem;
}

.job-list ul {
  list-style: circle;
  margin-top: 0.5rem;
} */
