<div class="container my-5">
  <h2 class="text-center mb-4">My Certificates</h2>

  <div class="row g-4">
    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <a
          href="https://udemy-certificate.s3.amazonaws.com/image/UC-34ad0945-dbef-44a8-8cbc-ba3438335e48.jpg"
          target="_blank"
        >
          <img
            src="https://udemy-certificate.s3.amazonaws.com/image/UC-34ad0945-dbef-44a8-8cbc-ba3438335e48.jpg"
            alt="Udemy Certificate 1"
            class="card-img-top rounded"
          />
        </a>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <a
          href="https://udemy-certificate.s3.amazonaws.com/image/UC-5900fe02-b825-46c2-8752-ee7de331353f.jpg"
          target="_blank"
        >
          <img
            src="https://udemy-certificate.s3.amazonaws.com/image/UC-5900fe02-b825-46c2-8752-ee7de331353f.jpg"
            alt="Udemy Certificate 2"
            class="card-img-top rounded"
          />
        </a>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card shadow-sm border-0">
        <a
          href="https://udemy-certificate.s3.amazonaws.com/image/UC-b8ac073b-de5d-44c5-ad19-87219fdde576.jpg"
          target="_blank"
        >
          <img
            src="https://udemy-certificate.s3.amazonaws.com/image/UC-b8ac073b-de5d-44c5-ad19-87219fdde576.jpg"
            alt="Udemy Certificate 3"
            class="card-img-top rounded"
          />
        </a>
      </div>
    </div>
  </div>
</div>
