<div class="container">
  <div class="certificate">
    <img
      src="https://udemy-certificate.s3.amazonaws.com/image/UC-34ad0945-dbef-44a8-8cbc-ba3438335e48.jpg"
      alt="Udemy Certificate 1"
      style="width: 100%; height: auto"
    />
  </div>

  <div class="certificate mt-3">
    <img
      src="https://udemy-certificate.s3.amazonaws.com/image/UC-5900fe02-b825-46c2-8752-ee7de331353f.jpg"
      alt="Udemy Certificate 2"
      style="width: 100%; height: auto"
    />
  </div>
</div>
